@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap");

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 400;
  margin: 0;
  text-shadow: 3px 3px 0px white;
}

body {
  margin: 0;
}

a:hover,
a:focus {
  color: initial !important;
}
